<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SecurePhotoSaving.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2B3959A1E5B121E0039258A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2B395AE1E5B121F0039258A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2B395B91E5B121F0039258A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
